---
title: Projects
layout: default
---
%h1 Projects
:markdown
  This section is more of a status board than anything else. It shows my current projects, 
  demos them if possible, and gives a simple indicator how far they are from being finished.