.content
  %ul
    %li.alpha
      %a(href="/") About
    %li
      %a(href="/projects/") Projects
    %li
      %a(href="/news.html") News
    %li.omega
      %a(href="/contact.html") Contact
    %li.subscribe
      %a(href="/atom.xml") Subscribe