---
layout: default
title: Contact me
---
/ use the :mardown filter if you want to write pages with Markdown
:markdown
  # Contact me

  First of all, please note that this halfbyte endeavour is currently not a full time one. Of course, 
  you can help me make it one, but until then, my time will be extremely limited. Your mileage may vary.

  Nevertheless, if you have an interesting problem to solve (From all the texts on this page, it should
  be relatively clear what's interesting to me...), feel free to give me a call. If you do so, please 
  keep time zones in mind - mine is CET (or CEST, respectively). Or you could write me an email. 
  Or a letter.
  
  ## electronic
  
  - Email: [jan@halfbyte.org](mailto:jan@halfbyte.org)
  - Phone: [+49 175 2 93 53 45](tel:+49-175-2-93-53-45)
  - Skype: [JanKrutisch](skype:JanKrutisch)

  ## postal
  
  Jan Krutisch  
  Tegelweg 21  
  22159 Hamburg  
  GERMANY
  